In [1]:
import os
os.makedirs(os.path.join('..', 'dataSets'), exist_ok=True)
data_file = os.path.join('..', 'dataSets', 'test_data_01.csv')
with open(data_file, 'w') as f:
    f.write('''NumRooms,RoofType,Price
NA,NA,127500
2,NA,106000
4,Slate,178100
NA,NA,140000''')

data_file

'../dataSets/test_data_01.csv'

In [2]:
import pandas as pd
data_file = '../dataSets/test_data_01.csv'
test_data = pd.read_csv(data_file)
test_data

   NumRooms RoofType   Price
0       NaN      NaN  127500
1       2.0      NaN  106000
2       4.0    Slate  178100
3       NaN      NaN  140000

In [3]:
inputs, targets = test_data.iloc[:,0:2], test_data.iloc[:,2]
inputs = pd.get_dummies(inputs,dummy_na=True)
inputs = inputs.fillna(inputs.mean())
inputs,targets

(   NumRooms  RoofType_Slate  RoofType_nan
 0       3.0               0             1
 1       2.0               0             1
 2       4.0               1             0
 3       3.0               0             1,
 0    127500
 1    106000
 2    178100
 3    140000
 Name: Price, dtype: int64)

In [4]:
import torch
X, y = torch.tensor(inputs.values) , torch.tensor(targets.values)
print(type(X))
print(type(y))

:

:

In [ ]:
save_path = os.path.join('..','dataSets', 'test_data_02.csv')
df = pd.DataFrame(inputs)
df.to_csv('../dataSets/test_data_02.csv', encoding='GBK')

: